<% if @errors %>
  <div class="errors">
    <% @errors.each do |key, value| %> 
      <p> <%= key %>: <%= value %> <p>
    <% end %>
  </div>
<% end %>

<form class="submit" action="/submit" method="post">
  <input type="text" placeholder="title" name="title"><br>
  <input type="url" placeholder="url" name="url"><br>
  <input type="submit" value="submit" name="submit">
</form>
